.footer__button {
  background-color: white;
  min-height: 70px;
  width: 280px;
  border-radius: 25px;
  border: 0;
  color: #150035;
  font-size: 25px;
  line-height: 1.28;
  font-weight: 300;
  text-align: center;
}
