.about-me__ul-title {
  margin: 10px 0 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.26;
  background: linear-gradient(180deg, #9754E1 0%, #407FED 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
